@{
  
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="page-title-banner" class="jx-container about-us">
    <div class="jx-container-slope jx-top-slope jx-right-slope"></div>
    <div class="container jx-titlebar text-center">
        <div class="sixteen columns">
            <h1 class="text-center">
                About Us
                <span class="title-bottom-bar"></span>

            </h1>
        </div>
    </div>

    <!-- container slope -->
</div>
<div class="jx-container jx-page-titlebar">
    <div class="jx-container-slope jx-top-slope jx-right-slope"></div>
    <div class="container jx-titlebar">
        <div class="sixteen columns">
            <div class="jx-breadcrumb center">
                <a href="/RoyalCrown/index">Home</a><span> / About Us</span>
            </div>
        </div>
    </div>

    <!-- container slope -->
</div>

<!-- EDF Header -->
<!--About us-->
<div id="welcome" class="about-welcome">
    <div class="container">
        <div class="text-center">

        </div>
        <div class="">
            <div class="welcome-container">
                <div class="col-md-6 col-sm-6">
                    <div class="welcome-box">
                        <div class="col-md-4 col-sm-12 no-lft-padding">
                            <div class="welcome-icon">
                                <img src="/images/trophy-icon.png" alt="Trophy Icon">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12 no-lft-padding">
                            <div class="welcome-info">
                                <h3>
                                    10 years experience
                                </h3>
                                <p>
                                    With great pride we would like to introduce ROYAL CROWN STUCCO LTD. as one of the fastest growing full service in exterior insulation finish system (EIFS) Stucco.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="welcome-box">
                        <div class="col-md-4 col-sm-12 no-lft-padding">
                            <div class="welcome-icon">
                                <img src="/images/professionals-icon.png" alt="Professionals Icon">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12 no-lft-padding">
                            <div class="welcome-info">
                                <h3>
                                    Professional team
                                </h3>
                                <p>
                                    Royal Crown Stucco have very professional team. Dependability and your 100% satisfaction are top priorities for our team.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-sm"></div>
                <div class="col-md-6 col-sm-6">
                    <div class="welcome-box">
                        <div class="col-md-4 col-sm-12 no-lft-padding">
                            <div class="welcome-icon">
                                <img src="/images/services-icon.png" alt="Services Icon">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12 no-lft-padding">
                            <div class="welcome-info">
                                <h3>
                                    Provide best service
                                </h3>
                                <p>
                                    Royal Crown Stucco provides you best service in the industry. Beacuse we have very professional team and our motto is to provide you best service.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="welcome-box">
                        <div class="col-md-4 col-sm-12 no-lft-padding">
                            <div class="welcome-icon">
                                <img src="/images/clock-icon.png" alt="Clock Icon">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12 no-lft-padding">
                            <div class="welcome-info">
                                <h3>
                                    24/7 services available
                                </h3>
                                <p>
                                    In many cleaning and restoration situations, immediate action is needed and Royal Crown stucco is strategically positioned to be faster to any size emergency.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="about-detail">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-12 no-lft-padding">
                <div class="about-detail-img for-small">
                    <img class="img-responsive" src="/images/more-about-bg-small.jpg" alt="Best Stucco Contractors">   
             </div>
                <div class="about-detail-img for-big">
                    <img class="img-responsive" src="/images/more-about-bg.jpg" alt="Stucco Contractors Mississauga">
                </div>
            </div>
            <div class="col-md-6 col-sm-12 no-lft-padding no-rght-padding">
                <div class="about-detail-container">
                    <div class="abt-detail-info">
                        <div class="col-sm-3">
                            <h2>About company</h2>
                            <span class="about-line"></span>
                        </div>
                        <div class="col-sm-9">
                            <p>

                                With great pride we would like to introduce ROYAL CROWN STUCCO LTD. as one of the fastest growing full service in exterior insulation finish system (EIFS) Stucco. We provide both commercial and residential construction services. We pride ourselves in meeting the highest standards of workmanship for every project we undertake. Our attention to detail allows us to provide prompt personalized service to a great variety of clients from homeowner to commercial and institutional projects. Our primary goal is to meet and exceed client expectations with the highest quality materials available and our 10 years of experience in stucco. We also help our customers on colours and design with decorative mouldings. ROYAL CROWN Stucco looks forward to hearing from you.


                                <br />
                                <br />
                                If you would like to schedule service for your home or business, please call today!
                            </p>
                        </div>
                    </div>
                    <!--<div class="abt-detail-info">
                        <div class="col-sm-3">
                            <h2>Our history</h2>
                            <span class="about-line"></span>
                        </div>
                        <div class="col-sm-9">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.Lorem ipsum dolor.
                            </p>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>



<!--Aboutus end-->


<div class="jx-container jx-padding-big jx-white-bg">

    <!-- container slope -->

</div>

<!-- EOF Our Team -->
