@{
  
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-title-banner" class="jx-container work">
    <div class="jx-container-slope jx-top-slope jx-right-slope"></div>
    <div class="container jx-titlebar text-center">
        <div class="sixteen columns">
            <h1 class="text-center">
                Services Detail
                <span class="title-bottom-bar"></span>
                <p>
                    Proin est elentesque risus magna vulputate vitae sodales uam morbi non sem lacus porta mollis nunc condime.
                </p>
            </h1>
        </div>
    </div>

    <!-- container slope -->
</div>
<div class="jx-container jx-page-titlebar">
    <div class="jx-container-slope jx-top-slope jx-right-slope"></div>
    <div class="container jx-titlebar">
        <div class="sixteen columns">
            <div class="jx-breadcrumb center">
                <a href="/RoyalCrown/index">Home</a><span> / Services Detail</span>
            </div>
        </div>
    </div>

    <!-- container slope -->
</div>

<!-- EDF Header -->
<!-- BOF Main Content -->
<div role="main" class="main no-top-padding blog-single-post">

    <!-- BOF Container Slope -->
    <!-- BOF Blog Articles -->
    <div class="jx-container jx-padding jx-white-bg jx-no-top-margin">

        <div class="jx-container-slope jx-top-slope jx-left-slope"></div>
        <!-- container slope -->
        <div class="jx-container-slope jx-bottom-slope jx-left-slope"></div>
        <!-- container slope -->

        <div class="container with-sidebar">
            <div class="sixteen columns">


                <div class="jx-page-sidebar">

                    <div class="image siderbar-slider">
                        <ul class="slides">
                            <li><img src="~/images/slider1.jpg" alt="service"></li>
                            <li><img src="~/images/slider2.jpg" alt="service"></li>
                            <li><img src="~/images/slider3.jpg" alt="service"></li>
                            <li><img src="~/images/slider4.jpg" alt="service"></li>
                        </ul>
                    </div>

                    <!-- Image -->
                    <div class="blog-title">Lorem ipsum dolor sit amet</div>
                    <div class="blog-subtitle">Nam sollicitudin neque eu nibh pharetra mollis mauris in nisi rhoncus</div>
                    <!-- Title -->
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Morbi nibh libero, consequat sit amet nisl vitae,
                        suscipit gravida mi. Nam auctor viverra sodales. Quisque posuere
                        tincidunt
                        convallis. Ut viverra neque non diam tempor, id
                        tincidunt mauris cursus. Donec suscipit mattis viverra. Cras sit amet
                        odio sit amet dui aliquam tempus a ultrices felis. Proin sed
                        imperdiet ipsum, ultrices posuere leo.
                    </p>
                    <p>
                        Duis facilisis dapibus enim, ac venenatis
                        nibh mattis in. Cras eu condimentum lacus, ac ultricies leo. Nunc
                        sodales posuere ipsum a suscipit. Mauris tincidunt rutrum auctor. <a href="#">Vivamus a nunc ac augue scelerisque dapibus</a>
                        ut sed augue. Pellentesque fermentum orci in velit pharetra, non
                        lobortis sapien suscipit. Aenean sem nulla, dignissim et bibendum
                        et, consequat in nibh.
                    </p>
                    <p>
                        Nam sollicitudin neque eu nibh pharetra
                        mollis. Mauris in nisi elit. Maecenas at metus rhoncus, facilisis tellus
                        at, pretium orci. Vivamus consectetur sem eget neque dignissim, sit
                        amet sodales urna mattis. Vivamus ut semper
                        dolor. Suspendisse tempus, dolor vel eleifend vestibulum, nulla eros
                        elementum ligula, ac bibendum mi ipsum quis felis. Donec
                        adipiscing iaculis sapien nec porta. Aliquam
                        tellus leo, posuere ut magna porta, auctor adipiscing massa. Maecenas
                        sem mi, vestibulum id lectus non, placerat rhoncus dui.
                    </p>
                    <blockquote>
                        "Duis facilisis dapibus enim, ac
                        venenatis nibh mattis in. Cras eu condimentum lacus, ac ultricies leo.
                        Nunc sodales posuere ipsum a suscipit. Mauris tincidunt rutrum auctor.
                    </blockquote>
                    <p>
                        Aenean vitae orci ac massa dictum rhoncus
                        vitae cursus mauris. Donec luctus nibh eu enim auctor feugiat. Sed quis
                        dignissim neque. Pellentesque porta est eget aliquam suscipit.
                        Fusce id scelerisque enim. Maecenas vitae
                        facilisis nibh. Maecenas in rutrum arcu, in ultricies odio. Quisque at
                        fringilla augue, eget convallis odio. Nulla vulputate orci ut libero
                        suscipit condimentum. Nunc nibh nulla,
                        sollicitudin in semper nec, tincidunt vel urna. Etiam lobortis tempor
                        mi, eget fringilla arcu tincidunt a.
                    </p>

                </div>





            </div>
            <!-- Sixteen Columns -->

            <div id="sidebar" class="four columns right">




                <!-- Widget 02 -->



                <div class="jx-sidebar-block mb40">

                    <h6 class="jx-uppercase jx-weight-600 mb15">Get In Touch</h6>
                    <hr />
                    <!-- Heading -->

                    <div class="jx-sidebar-get-in-touch">

                        <div class="jx-footer-recent-post">
                            <ul>
                                <li>
                                    <div class="icon"><i class="fa fa-map-marker"></i></div>
                                    <div class="description"><p>5329 Haskel Court, Richmond </p></div>
                                </li>
                                <li>
                                    <div class="icon"><i class="fa fa-phone"></i></div>
                                    <div class="description"><p>(0800) 12 345 546</p></div>
                                </li>
                                <li>
                                    <div class="icon"><i class="fa fa-envelope-o"></i></div>
                                    <div class="description"><p>info@ewebcraft.com</p></div>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- Testimonials -->
                </div>
                <!-- Widget 03 -->


            </div>
            <!-- EOF Sidebar -->

        </div>
    </div>
    <!-- EOF Blog Articles -->




</div>
<!-- BOF Footer -->