@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Slider -->
<div id="main-slider">
    <!-- slider -->
    <div class="ms-layers-template">
        <!-- masterslider -->
        <div class="master-slider ms-skin-black-2 round-skin" id="mainSlider">
            <div class="ms-slide slide-1" data-delay="4" style="z-index: 10">
                <img src="css/ms-style/blank.gif" data-src="/images/main-slider/bg.jpg" alt="Best Stucco Contractors Toronto" />

                <h4 class="ms-layer light-title" style="left:465px; top:178px"
                    data-effect="skewleft(18,200,c)"
                    data-duration="2500"
                    data-delay="0"
                    data-ease="easeOutExpo">
                    welcome to the royal crown
                </h4>

                <h2 class="ms-layer bold-title" style="left:336px; top:221px; color:#000"
                    data-effect="left(100)"
                    data-duration="2500"
                    data-delay="0"
                    data-ease="easeOutExpo">
                    Exterior stucco
                </h2>

                <h5 class="ms-layer title-2" style="left:354px; top:297px; color: #000"
                    data-effect="bottom(20)"
                    data-duration="2500"
                    data-delay="0"
                    data-ease="easeOutExpo">
Expertise in Exterior Stucco Installation & Repairs
                </h5>

                <a href="#" class="ms-layer btn btn-default btn-try-class btn-yellow text-uppercase border-transparent" style="left:435px; top:388px"
                   data-effect="left(short)"
                   data-duration="2500"
                   data-delay="0"
                   data-ease="easeOutExpo">Read More</a>

                <a href="#" class="ms-layer btn btn-default btn-try-class text-uppercase border-transparent" style="left:615px; top:388px"
                   data-effect="left(short)"
                   data-duration="2500"
                   data-delay="1"
                   data-ease="easeOutExpo">See Our Work</a>
            </div>
            <div class="ms-slide slide-2" data-delay="4" style="z-index: 11">
                <img src="css/ms-style/blank.gif" data-src="/images/main-slider/bg1.jpg" alt="Stucco Services Toronto" />

                <img src="css/ms-style/blank.gif" data-src="/images/main-slider/mountain.png" alt="Exterior Stucco Toronto" class="ms-layer"
                     style="bottom:0px; left:629px;
					width: 1029px; height: 497px;"
                     data-effect="bottom(short)"
                     data-type="image"
                     data-delay="0"
                     data-duration="2500"
                     data-ease="easeOutQuad" />
                

                <h2 class="ms-layer bold-title" style="left:41px; top:200px"
                    data-effect="right(150)"
                    data-duration="2500"
                    data-delay="0"
                    data-ease="easeOutExpo">
                    Trusted & reliable
                </h2>

                <h2 class="ms-layer bold-title" style="left:41px; top:280px"
                    data-effect="right(150)"
                    data-duration="2500"
                    data-delay="0"
                    data-ease="easeOutExpo">
                    contractor
                </h2>
				
				
				
<h4 class="ms-layer light-title" style="left:47px; top:359px"
                    data-effect="skewleft(18,200,c)"
                    data-duration="2500"
                    data-delay="0"
                    data-ease="easeOutExpo">
                    Exterior Stucco System
                </h4>
                <a href="#" class="ms-layer btn btn-default btn-try-class yellow" style="left:41px; top:409px"
                   data-effect="left(short)"
                   data-duration="2500"
                   data-delay="0"
                   data-ease="easeOutExpo">Read More</a>

                <a href="#" class="ms-layer btn btn-default btn-try-class" style="left:196px; top:409px"
                   data-effect="left(short)"
                   data-duration="2500"
                   data-delay="0"
                   data-ease="easeOutExpo">See Our Work</a>


            </div>
            <div class="ms-slide slide-3" data-delay="4" style="z-index: 12">

                <img src="css/ms-style/blank.gif" data-src="/images/main-slider/bg2.jpg" alt="Commercial Stucco Contractors Toronto" />


                <h4 class="ms-layer light-title" style="left:384px; top:348px"
                    data-effect="skewleft(18,200,c)"
                    data-duration="2500"
                    data-delay="0"
                    data-ease="easeOutExpo">
                    Expert Roofing And Construction Services Contractor
                </h4>

                <h2 class="ms-layer bold-title" style="left:384px; top:200px; color:#000"
                    data-effect="left(100)"
                    data-duration="2500"
                    data-delay="0"
                    data-ease="easeOutExpo">
                    residential
                </h2>

                <h2 class="ms-layer title-2" style="left:304px; top:277px; color: #000"
                    data-effect="bottom(20)"
                    data-duration="2500"
                    data-delay="0"
                    data-ease="easeOutExpo">
                    Roofing Services
                </h2>

                <a href="#" class="ms-layer btn btn-default btn-try-class yellow" style="left:445px; top:388px"
                   data-effect="left(short)"
                   data-duration="2500"
                   data-delay="0"
                   data-ease="easeOutExpo">Read More</a>

                <a href="#" class="ms-layer btn btn-default btn-try-class" style="left:605px; top:388px"
                   data-effect="left(short)"
                   data-duration="2500"
                   data-delay="0"
                   data-ease="easeOutExpo">See Our Work</a>

            </div>

            <div class="ms-slide slide-4" data-delay="4" style="z-index: 11">
                <img src="css/ms-style/blank.gif" data-src="/images/main-slider/bg3.jpg" alt="Exterior Stucco Mississauga" />

                <img src="css/ms-style/blank.gif" data-src="/images/main-slider/men.png" alt="Stucco Contractors in Etobicoke" class="ms-layer"
                     style="bottom:0px; left:791px;
					width: 332px; height: 568px;
					top:16px;"
                     data-effect="right(short)"
                     data-type="image"
                     data-delay="0"
                     data-duration="2500"
                     data-ease="easeOutQuad" />
                <h4 class="ms-layer light-title" style="left:47px; top:370px"
                    data-effect="skewleft(18,200,c)"
                    data-duration="2500"
                    data-delay="0"
                    data-ease="easeOutExpo">
                    With over 50 years of experience
                </h4>

                <h2 class="slide-4 ms-layer bold-title" style="left:41px; top:223px"
                    data-effect="right(150)"
                    data-duration="2500"
                    data-delay="0"
                    data-ease="easeOutExpo">
                    profesional
                </h2>

                <h2 class=" slide-4 ms-layer bold-title" style="left:41px; top:304px"
                    data-effect="left(150)"
                    data-duration="2500"
                    data-delay="0"
                    data-ease="easeOutExpo">
                    & trained workers
                </h2>

                <a href="#" class="ms-layer btn btn-default btn-try-class yellow" style="left:41px; top:409px"
                   data-effect="left(short)"
                   data-duration="2500"
                   data-delay="0"
                   data-ease="easeOutExpo">Read More</a>

                <a href="#" class="ms-layer btn btn-default btn-try-class" style="left:196px; top:409px"
                   data-effect="left(short)"
                   data-duration="2500"
                   data-delay="0"
                   data-ease="easeOutExpo">See Our Work</a>


            </div>
        </div>
        <!-- end of masterslider -->
    </div>
    <!-- slider -->
</div>
<!-- Slider -->


<!-- BOF Slider -->
<!-- BOF Main Content -->
<!-- <div role="main" class="main no-top-padding"> -->
<!--Welocome -->
<div id="welcome">
    <div class="container">
        <div class="text-center">
            <div class="jx-section-title-1">
                <div class="jx-title jx-uppercase mb40"><h1>Royal Crown Stucco Ltd.</h1></div>
                <div class="jx-title-top-line"><span class="jx-black-title-top-arrow-white"></span></div>
                <div class="main-text">
                    <p>A Great Way to View and Understand Your Building or Repair Project Before You Get Started.</p>
                </div>
            </div>
        </div>
        <div class="">
            <div class="welcome-container">
                <div class="col-md-6 col-sm-6">
                    <div class="welcome-box">
                        <div class="col-md-4 col-sm-12 no-lft-padding">
                            <div class="welcome-icon">
                                <img src="/images/trophy-icon.png" alt="Trophy Icon">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12 no-lft-padding">
                            <div class="welcome-info">
                                <h3>
                                    10 years experience
                                </h3>
                                <p>
                                    With great pride we would like to introduce ROYAL CROWN STUCCO LTD. as one of the fastest growing full service in exterior insulation finish system (EIFS) Stucco.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="welcome-box">
                        <div class="col-md-4 col-sm-12 no-lft-padding">
                            <div class="welcome-icon">
                                <img src="/images/professionals-icon.png" alt="icon">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12 no-lft-padding">
                            <div class="welcome-info">
                                <h3>
                                    Professional team
                                </h3>
                                <p>
                                    Royal Crown Stucco have very professional team. Dependability and your 100% satisfaction are top priorities for our team.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-sm"></div>
                <div class="col-md-6 col-sm-6">
                    <div class="welcome-box">
                        <div class="col-md-4 col-sm-12 no-lft-padding">
                            <div class="welcome-icon">
                                <img src="/images/services-icon.png" alt="Services Icon">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12 no-lft-padding">
                            <div class="welcome-info">
                                <h3>
                                    Provide best service
                                </h3>
                                <p>
                                    Royal Crown Stucco provides you best service in the industry. Beacuse we have very professional team and our motto is to provide you best service.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="welcome-box">
                        <div class="col-md-4 col-sm-12 no-lft-padding">
                            <div class="welcome-icon">
                                <img src="/images/clock-icon.png" alt="Clock Icon">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12 no-lft-padding">
                            <div class="welcome-info">
                                <h3>
                                    24/7 services available
                                </h3>
                                <p>
                                    In many cleaning and restoration situations, immediate action is needed and Royal Crown stucco is strategically positioned to be faster to any size emergency.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<!-- BOF Services 2 -->

<div class="jx-container jx-padding-big jx-black-bg">

    <div class="parallax-no jx-tint-black-light"></div>
    <!-- Parallax Background Image -->

    <div class="container">


        <div class="sixteen columns">
            <div class="jx-section-title-1">
                <div class="jx-title jx-uppercase mb40"><h2>Our Services</h2></div>
                <div class="jx-title-top-line"><span class="jx-black-title-top-arrow-white"></span></div>
                <div class="main-text">

                </div>
            </div>
        </div>

        <div id="our-services">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="ser-hover panel">
                        <div class="front">
                            <div class="box1">
                                <img class="img-responsive service-image" src="/images/service_1.jpg" alt="Toronto Stucco Services">
                                <h3>
                                    Custom Homes
                                </h3>
                            </div>
                        </div>
                        <div class="back">
                            <div class="box2">
                                <h3>
                                    Custom Homes
                                    <span class="doted-seperator"></span>
                                </h3>
                                <p>
                                    A custom home is a one-of-a-kind home that is designed for a specific client and for a particular location. The custom home builder may use plans created by an architect or by a professional home designer.

                                </p>
                                <a href="/RoyalCrown/services" class="readmore-btn" title="Read More">
                                    <i class="fa fa-external-link"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="ser-hover panel">
                        <div class="front">
                            <div class="box1">
                                <img class="img-responsive service-image" src="/images/service_2.jpg" alt="Stucco Designs Exterior">
                                <h3>
                                    Commercial
                                </h3>
                            </div>
                        </div>
                        <div class="back">
                            <div class="box2">
                                <h3>
                                    Commercial
                                    <span class="doted-seperator"></span>
                                </h3>
                                <p>
                                    There has been a revolution of sorts in the commercial and industrial construction industry in recent years: External Insulated Finish Systems (EIFS). Chief among these are superior energy efficiency and virtually unlimited design flexibility.
                                </p>
                                <a href="/RoyalCrown/services" class="readmore-btn" title="Read More">
                                    <i class="fa fa-external-link"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="ser-hover panel">
                        <div class="front">
                            <div class="box1">
                                <img class="img-responsive service-image" src="/images/service_3.jpg" alt="Toronto Exterior Stucco">
                                <h3>
                                    Industrial
                                </h3>
                            </div>
                        </div>
                        <div class="back">
                            <div class="box2">
                                <h3>
                                    Industrial
                                    <span class="doted-seperator"></span>
                                </h3>
                                <p>
                                    There has been a revolution of sorts in the commercial and industrial construction industry in recent years: External Insulated Finish Systems (EIFS). Chief among these are superior energy efficiency and virtually unlimited design flexibility.
                                </p>
                                <a href="/RoyalCrown/services" class="readmore-btn" title="Read More">
                                    <i class="fa fa-external-link"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="ser-hover panel">
                        <div class="front">
                            <div class="box1">
                                <img class="img-responsive service-image" src="/images/service_4.jpg" alt="Exterior Stucco Mississauga">
                                <h3>
                                    Certificate
                                </h3>
                            </div>
                        </div>
                        <div class="back">
                            <div class="box2">
                                <img class="img-responsive service-image" src="/images/service_4.jpg" alt="Stucco Contractors Mississauga">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                </div>
            </div>
        </div>

    </div>

</div>

<!-- EOF Services 2 -->
<!-- start gallery -->
<div id="gallery" class="text-center">
    <div class="container">
        <div class="jx-section-title-1">
            <div class="jx-title jx-uppercase mb40"><h2>Recent Project</h2></div>
            <div class="jx-title-top-line"><span class="jx-black-title-top-arrow-white"></span></div>
            <div class="main-text">

            </div>
        </div>

    </div>
    <div class="container-fluid">
        <div class="row gallery text-center" style="background:none;">
            <div class="col-md-12 noPadding">
                <div class="gallery-photo-grid">
                    <div class="gallery-photos">
                        <div class="gallery-photos-thumb">
                            <div class="gallery-photo-item mix repair installation wow fadeIn">
                                <a class="pretty-photo" href="/RoyalCrown/OurProjects">
                                    <div class="photo-thumb">
                                        <img src="/images/gallery-small-img-1.jpg" alt="Stucco Contractors in Etobicoke">
                                    </div>
                                    <div class="overlay">
                                        <div class="work-info">
                                            <div class="work-text">
                                                <h3><a href="/images/gallery-small-img-1.jpg" data-gal="prettyPhoto[images-gallery]">View Image</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="gallery-photo-item mix repair wow fadeIn" data-wow-delay="0.2s">
                                <a class="pretty-photo" href="/RoyalCrown/OurProjects">
                                    <div class="photo-thumb">
                                        <img src="/images/gallery-small-img-2.jpg" alt="Exterior Stucco Etobicoke on">
                                    </div>
                                    <div class="overlay">
                                        <div class="work-info">
                                            <div class="work-text">
                                                <h3><a href="/images/gallery-small-img-2.jpg" data-gal="prettyPhoto[images-gallery]">View Image</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="gallery-photo-item mix renovation wow fadeIn" data-wow-delay="0.4s">
                                <a class="pretty-photo" href="/RoyalCrown/OurProjects">
                                    <div class="photo-thumb">
                                        <img src="/images/gallery-small-img-3.jpg" alt="Stucco Brampton">
                                    </div>
                                    <div class="overlay">
                                        <div class="work-info">
                                            <div class="work-text">
                                                <h3><a href="/images/gallery-small-img-3.jpg" data-gal="prettyPhoto[images-gallery]">View Image</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="gallery-photo-item mix installation repair renovation wow fadeIn" data-wow-delay="0.6s">
                                <a class="pretty-photo" href="/RoyalCrown/OurProjects">
                                    <div class="photo-thumb">
                                        <img src="/images/gallery-small-img-4.jpg" alt="Exterior Stucco Bolton">
                                    </div>
                                    <div class="overlay">
                                        <div class="work-info">
                                            <div class="work-text">
                                                <h3><a href="/images/gallery-small-img-4.jpg" data-gal="prettyPhoto[images-gallery]">View Image</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="gallery-photo-item mix renovation repair wow fadeIn" data-wow-delay="0.1s">
                                <a class="pretty-photo" href="/RoyalCrown/OurProjects">
                                    <div class="photo-thumb">
                                        <img src="/images/gallery-small-img-5.jpg" alt="Exterior Stucco Etobicoke">
                                    </div>
                                    <div class="overlay">
                                        <div class="work-info">
                                            <div class="work-text">
                                                <h3><a href="/images/gallery-small-img-5.jpg" data-gal="prettyPhoto[images-gallery]">View Image</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="gallery-photo-item mix installation renovation wow fadeIn" data-wow-delay="0.2s">
                                <a class="pretty-photo" href="/RoyalCrown/OurProjects">
                                    <div class="photo-thumb">
                                        <img src="/images/gallery-small-img-6.jpg" alt="Exterior Stucco City of Toronto">
                                    </div>
                                    <div class="overlay">
                                        <div class="work-info">
                                            <div class="work-text">
                                                <h3><a href="/images/gallery-small-img-6.jpg" data-gal="prettyPhoto[images-gallery]">View Image</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="gallery-photo-item mix repair installation wow fadeIn" data-wow-delay="0.4s">
                                <a class="pretty-photo" href="/images/work-1.jpg">
                                    <div class="photo-thumb">
                                        <img src="/images/gallery-small-img-7.jpg" alt="Exterior Stucco Markham">
                                    </div>
                                    <div class="overlay">
                                        <div class="work-info">
                                            <div class="work-text">
                                                <h3><a href="/images/gallery-small-img-7.jpg" data-gal="prettyPhoto[images-gallery]">View Image</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>


                            <div class="gallery-photo-item mix repair installation renovation wow fadeIn" data-wow-delay="0.6s">
                                <a class="pretty-photo" href="/RoyalCrown/OurProjects">
                                    <div class="photo-thumb">
                                        <img src="/images/gallery-small-img-8.jpg" alt="Exterior Stucco Aurora">
                                    </div>
                                    <div class="overlay">
                                        <div class="work-info">
                                            <div class="work-text">
                                                <h3><a href="/images/gallery-small-img-8.jpg" data-gal="prettyPhoto[images-gallery]">View Image</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"></div>
        <div class="jx-btn-center service-btn">
            <a href="/RoyalCrown/OurProjects" class="jx-btn-default service-button">Load More</a>
        </div>
    </div>
</div>



<!-- end gallery -->

<div class="jx-container jx-padding-big jx-white-bg">


    <!-- container slope -->


</div>

<!-- BOF Our Team -->
<!-- EOF Our Team -->
<!-- BOF BLOG -->
<div class="jx-container jx-padding jx-white-bg blog">
    <!-- BDF Blog Style 1 -->
    <div class="container">
        <div class="jx-blog-2">
            <div class="jx-section-title-1 blog-title">
                <div class="jx-title jx-uppercase mb40"><h2>EXTERIOR STUCCO SYSTEMS</h2></div>
                <div class="jx-title-top-line"><span class="jx-black-title-top-arrow-white blog-arrow"></span></div>
                <div class="main-text">

                </div>
            </div>
            <div class="sixteen columns jx-blog-item">

                <div class="four columns alpha jx-image-wrapper">
                    <div class="image">
                        <img src="/images/blog_1.jpg" alt="Exterior Stucco Richmond Hill">
                        <div class="jx-image-overlay"></div>
                        <span class="jx-scale-portfolio">
                            <a href="#"><i class="fa fa-link"></i></a>
                        </span>
                    </div>
                    <!-- Image -->
                </div>
                <div class="twelve columns omega">
                    <div class="title"><a href="#">PUCCS EIFS for Commercial and High Rise</a></div>
                    <div class="blog-text">
                        PUCCS EIFS for Commercial and High Rise construction has been evaluated by CCMC for compliance to the Technical Guide for EIFS, and is certified for use on buildings required to be of non-combustible construction and on buildings over three storeys in height. This system incorporates a trowel-applied air/moisture barrier, and dependent upon the configuration of the wall assembly, may also provide the necessary condensation control.
                    </div>
                    <!-- Content -->
                </div>


            </div>
            <!-- Blog 2 -->

            <div class="sixteen columns jx-blog-item">

                <div class="four columns alpha jx-image-wrapper">
                    <div class="image">
                        <img src="/images/blog_2.jpg" alt="Exterior Stucco Scarborough">
                        <div class="jx-image-overlay"></div>
                        <span class="jx-scale-portfolio">
                            <a href="#"><i class="fa fa-link"></i></a>
                        </span>
                    </div>
                    <!-- Image -->
                </div>
                <div class="twelve columns omega">
                    <div class="title"><a href="#">PUCCS EIFS for Residential and Low Rise</a></div>
                    <!-- Title -->
                    <div class="blog-text">
                        PUCCS EIFS for Residential and Low Rise Construction is an insulated cladding system specifically intended for use on wood sheathed walls. This system includes first and second planes of protection from precipitation, and a geometrically-defined drainage cavity that is 10 mm deep and 37% open. This system has been evaluated by the Canadian Construction Materials Centre (CCMC), this system complies with the CAN/ULC-S716.1 EIFS Materials and Systems Standard, and this system is certified to the test requirements of Article 3.2.3.8 of the National Building Code of Canada.
                    </div>
                    <!-- Content -->
                </div>


            </div>

            <!-- Blog 2 -->
            <!-- Blog 3 -->
            <div class="sixteen columns jx-blog-item">

                <div class="four columns alpha jx-image-wrapper">
                    <div class="image">
                        <img src="/images/blog_3.jpg" alt="Exterior Stucco Vaughn">
                        <div class="jx-image-overlay"></div>
                        <span class="jx-scale-portfolio">
                            <a href="#"><i class="fa fa-link"></i></a>
                        </span>
                    </div>
                    <!-- Image -->
                </div>
                <div class="twelve columns omega">
                    <div class="title"><a href="#">PUCCS EIFS for Insulated Concrete Form (ICF)</a></div>
                    <!-- Title -->
                    <div class="blog-text">
                        PUCCS EIFS for Insulated Concrete Form (ICF) construction combines the continuous insulation of EIFS and ICF to deliver the ultimate thermal performance! While this system is certified for use on buildings required to be of non-combustible construction and on buildings over three storeys in height, CCMC has yet to evaluate ICF as a substrate for EIFS.
                    </div>
                    <!-- Content -->
                </div>


            </div>


            <!-- Blog 4 -->
            <div class="sixteen columns jx-blog-item">

                <div class="four columns alpha jx-image-wrapper">
                    <div class="image">
                        <img src="/images/blog_5.jpg" alt="Exterior Stucco New Market">
                        <div class="jx-image-overlay"></div>
                        <span class="jx-scale-portfolio">
                            <a href="#"><i class="fa fa-link"></i></a>
                        </span>
                    </div>
                    <!-- Image -->
                </div>
                <div class="twelve columns omega">
                    <div class="title"><a href="#">	Stucco Plus</a></div>
                    <!-- Title -->
                    <div class="blog-text">
                        POLYMER-ENHANCED STUCCO SYSTEMS
                        <br />
                        The DuROCK Stucco Plus System is conventional stucco at it's best! Stucco Plus incorporates a polymer-enhanced, fibre-reinforced base coat for superior adhesive and cohesive strength, as well as a polymer-based finish which is available in a variety of textures and infinite colours. Metal lath is not required when applying Stucco Plus to cast-in place concrete or concrete masonry units. Please refer to our system specifications for further details. Stucco Plus can be adapted to rainscreen construction with the placement of a drainage mat or wood strapping between the sheathing membrane and the metal lath.
                        <br />
                        Please refer to manufacturer's specifications for further details. (http://www.durock.com)

                    </div>
                    <!-- Content -->
                </div>


            </div>

            <div class="sixteen columns jx-blog-item">

                <div class="four columns alpha jx-image-wrapper">
                    <div class="image">
                        <img src="/images/blog_4.jpg" alt="Exterior Stucco Oshawa">
                        <div class="jx-image-overlay"></div>
                        <span class="jx-scale-portfolio">
                            <a href="#"><i class="fa fa-link"></i></a>
                        </span>
                    </div>
                    <!-- Image -->
                </div>
                <div class="twelve columns omega">
                    <div class="title"><a href="#">InsulRock</a></div>
                    <!-- Title -->
                    <div class="blog-text">
                        EIFS FOR NON-COMBUSTIBLE CONSTRUCTION CCMC No. 12969-R<br />
                        The DuROCK ser ies of InsulROCK EIFS provides moisture control through the use of a secondary barrier to moisture intrusion, which may also be used to control air leakage. This barrier, combined with the system's ability to drain incidental moisture, makes InsulROCK EIFS well suited for cladding buildings of any size. The DuROCK InsulROCK System is intended for use on non-wood substrates. This system may incorporate either DuROCK Cement Bear (air/moisture barrier) or, where the design permits, DuROCK Vapour Block (air/moisture/vapour barrier).
                        <br />
                        Please refer to manufacturer's specifications for further details. (http://www.durock.com)

                    </div>
                    <!-- Content -->
                </div>


            </div>



        </div>
    </div>
    <!-- EDF Blog Style 2 -->
    <!-- Blog Button -->
</div>
<!-- EOF Main Content -->


<script type="text/javascript">

    /*
    master slider*/
    $(document).ready(function()
    {       
        var slider = new MasterSlider();
        slider.setup('mainSlider', {
            width: 1170,
            height: 580,
            autoplay: false,
            space: 1,
            loop: true,
            dir: "v",
            fullwidth: true,
            centerControls: false,
            speed: 60,
            preload: 0,
            view: 'scale',
            swipe: true
        });
        slider.control('arrows');
        slider.control('timebar', { color: "#F4BC16" });
    }
    )
   

</script>
