@{
 
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="page-title-banner" class="jx-container work">
    <div class="jx-container-slope jx-top-slope jx-right-slope"></div>
    <div class="container jx-titlebar text-center">
        <div class="sixteen columns">
            <h1 class="text-center">
                Project
                <span class="title-bottom-bar"></span>

            </h1>
        </div>
    </div>

    <!-- container slope -->
</div>
<div class="jx-container jx-page-titlebar">
    <div class="jx-container-slope jx-top-slope jx-right-slope"></div>
    <div class="container jx-titlebar">
        <div class="sixteen columns">
            <div class="jx-breadcrumb center">
                <a href="/RoyalCrown/index">Home</a><span> / Project</span>
            </div>
        </div>
    </div>

    <!-- container slope -->
</div>

<!-- EDF Header -->
<!-- BOF Main Content -->
<div role="main" class="main no-top-padding">



    <!-- BOF Protfolio -->

    <div class="jx-container jx-padding jx-white-bg">
        <div class="container">

            <div class="sixteen columns">

            </div>
            <!-- Section Title -->
            <div class="one-third columns">
                <div class="jx-protfolio jx-image-wrapper">
                    <div class="image">
                        <img src="~/images/work-1.jpg" alt="Stucco Services">
                        <div class="jx-image-overlay"></div>
                        <div class="hover-circal">
                            <span class="jx-scale-portfolio">
                                <a href="~/images/work-1.jpg" data-gal="prettyPhoto[images-gallery]"><i class="fa fa-arrows-alt"></i></a>
                            </span>

                        </div>
                    </div>
                    <!--Image -->
                    <!--  <div class="model-name">Roof Installation</div>-->
                    <!-- Model name -->

                </div>
            </div>
            <!-- Item 01 -->

            <div class="one-third columns">
                <div class="jx-protfolio jx-image-wrapper">
                    <div class="image">
                        <img src="~/images/work-2.jpg" alt="Stucco Servics Toronto">
                        <div class="jx-image-overlay"></div>
                        <span class="jx-scale-portfolio">
                            <a href="~/images/work-2.jpg" data-gal="prettyPhoto[images-gallery]"><i class="fa fa-arrows-alt"></i></a>
                        </span>
                    </div>
                    <!--Image -->
                    <!-- <div class="model-name">Roof Painting</div>-->
                    <!-- Model name -->


                </div>
            </div>
            <!-- Item 02 -->
            <div class="one-third columns">
                <div class="jx-protfolio jx-image-wrapper">
                    <div class="image">
                        <img src="~/images/project24.jpg" alt="Exterior Stucco">
                        <div class="jx-image-overlay"></div>
                        <span class="jx-scale-portfolio">
                            <a href="~/images/project24.jpg" data-gal="prettyPhoto[images-gallery]"><i class="fa fa-arrows-alt"></i></a>
                        </span>
                    </div>
                    <!--Image -->
                    <!--<div class="model-name">Roof Repair</div>-->
                    <!-- Model name -->

                </div>
            </div>
            <div class="row"></div>
            <!-- Item 03 -->

            <div class="one-third columns">
                <div class="jx-protfolio jx-image-wrapper">
                    <div class="image">
                        <img src="~/images/Plywood-Installation-Re-roof-Monmouth.png" alt="Plywood Installation Re-roof">
                        <div class="jx-image-overlay"></div>
                        <span class="jx-scale-portfolio">
                            <a href="~/images/Plywood-Installation-Re-roof-Monmouth.png" data-gal="prettyPhoto[images-gallery]"><i class="fa fa-arrows-alt"></i></a>
                        </span>
                    </div>
                    <!--Image -->
                    <!-- <div class="model-name">Roof Repair</div>-->
                    <!-- Model name -->

                </div>
            </div>

            <!-- Item 05 -->

            <div class="one-third columns">
                <div class="jx-protfolio jx-image-wrapper">
                    <div class="image">
                        <img src="~/images/Shingles-Specialty01.jpg" alt="Exterior Stucco Service Toronto">
                        <div class="jx-image-overlay"></div>
                        <span class="jx-scale-portfolio">
                            <a href="~/images/Shingles-Specialty01.jpg" data-gal="prettyPhoto[images-gallery]"><i class="fa fa-arrows-alt"></i></a>
                        </span>
                    </div>
                    <!--Image -->
                    <!-- <div class="model-name">Roof Repair</div>-->
                    <!-- Model name -->

                </div>
            </div>
            <!-- Item 6 -->
            <div class="one-third columns">
                <div class="jx-protfolio jx-image-wrapper">
                    <div class="image">
                        <img src="~/images/choosing-a-color-for-your-metal-roof.jpg" alt="Best Stucco and Molding">
                        <div class="jx-image-overlay"></div>
                        <span class="jx-scale-portfolio">
                            <a href="~/images/choosing-a-color-for-your-metal-roof.jpg" data-gal="prettyPhoto[images-gallery]"><i class="fa fa-arrows-alt"></i></a>
                        </span>
                    </div>
                    <!--Image -->
                    <!--<div class="model-name">Roof Repair</div>-->
                    <!-- Model name -->

                </div>
            </div>


            <div class="row"></div>
            <!-- Item 03 -->

            <div class="one-third columns">
                <div class="jx-protfolio jx-image-wrapper">
                    <div class="image">
                        <img src="~/images/project3.jpg" alt="Top Stucco Contractors">
                        <div class="jx-image-overlay"></div>
                        <span class="jx-scale-portfolio">
                            <a href="~/images/project3.jpg" data-gal="prettyPhoto[images-gallery]"><i class="fa fa-arrows-alt"></i></a>
                        </span>
                    </div>
                    <!--Image -->
                    <!--<div class="model-name">Roof Repair</div>-->
                    <!-- Model name -->

                </div>
            </div>

            <!-- Item 05 -->

            <div class="one-third columns">
                <div class="jx-protfolio jx-image-wrapper">
                    <div class="image">
                        <img src="~/images/project2.jpg" alt="Contractors in Toronto">
                        <div class="jx-image-overlay"></div>
                        <span class="jx-scale-portfolio">
                            <a href="~/images/project2.jpg" data-gal="prettyPhoto[images-gallery]"><i class="fa fa-arrows-alt"></i></a>
                        </span>
                    </div>
                    <!--Image -->
                    <!--<div class="model-name">Roof Repair</div>-->
                    <!-- Model name -->

                </div>
            </div>
            <!-- Item 6 -->
            <div class="one-third columns">
                <div class="jx-protfolio jx-image-wrapper">
                    <div class="image">
                        <img src="~/images/project1.jpg" alt="Stucco Service Bolton">
                        <div class="jx-image-overlay"></div>
                        <span class="jx-scale-portfolio">
                            <a href="~/images/project1.jpg" data-gal="prettyPhoto[images-gallery]"><i class="fa fa-arrows-alt"></i></a>
                        </span>
                    </div>
                    <!--Image -->
                    <!--<div class="model-name">Roof Repair</div>-->
                    <!-- Model name -->

                </div>
            </div>


            <div class="row"></div>

            <div class="one-third columns">
                <div class="jx-protfolio jx-image-wrapper">
                    <div class="image">
                        <img src="~/images/project4.jpg" alt="Molding and Stucco">
                        <div class="jx-image-overlay"></div>
                        <span class="jx-scale-portfolio">
                            <a href="~/images/project4.jpg" data-gal="prettyPhoto[images-gallery]"><i class="fa fa-arrows-alt"></i></a>
                        </span>
                    </div>
                    <!--Image -->
                    <!--<div class="model-name">Roof Repair</div>-->
                    <!-- Model name -->

                </div>
            </div>

            <div class="one-third columns">
                <div class="jx-protfolio jx-image-wrapper">
                    <div class="image">
                        <img src="~/images/project5.jpg" alt="Stucco and Molding Service">
                        <div class="jx-image-overlay"></div>
                        <span class="jx-scale-portfolio">
                            <a href="~/images/project5.jpg" data-gal="prettyPhoto[images-gallery]"><i class="fa fa-arrows-alt"></i></a>
                        </span>
                    </div>
                    <!--Image -->
                    <!--<div class="model-name">Roof Repair</div>-->
                    <!-- Model name -->

                </div>
            </div>

            <div class="one-third columns">
                <div class="jx-protfolio jx-image-wrapper">
                    <div class="image">
                        <img src="~/images/project6.jpg" alt="Stucco Services">
                        <div class="jx-image-overlay"></div>
                        <span class="jx-scale-portfolio">
                            <a href="~/images/project6.jpg" data-gal="prettyPhoto[images-gallery]"><i class="fa fa-arrows-alt"></i></a>
                        </span>
                    </div>
                    <!--Image -->
                    <!--<div class="model-name">Roof Repair</div>-->
                    <!-- Model name -->

                </div>
            </div>

            <div class="row"></div>

            <div class="one-third columns">
                <div class="jx-protfolio jx-image-wrapper">
                    <div class="image">
                        <img src="~/images/project7.jpg" alt="Hire Stucco Services">
                        <div class="jx-image-overlay"></div>
                        <span class="jx-scale-portfolio">
                            <a href="~/images/project7.jpg" data-gal="prettyPhoto[images-gallery]"><i class="fa fa-arrows-alt"></i></a>
                        </span>
                    </div>
                    <!--Image -->
                    <!--<div class="model-name">Roof Repair</div>-->
                    <!-- Model name -->

                </div>
            </div>

            <div class="one-third columns">
                <div class="jx-protfolio jx-image-wrapper">
                    <div class="image">
                        <img src="~/images/project8.jpg" alt="Royal Crown Stucco Services">
                        <div class="jx-image-overlay"></div>
                        <span class="jx-scale-portfolio">
                            <a href="~/images/project8.jpg" data-gal="prettyPhoto[images-gallery]"><i class="fa fa-arrows-alt"></i></a>
                        </span>
                    </div>
                    <!--Image -->
                    <!--<div class="model-name">Roof Repair</div>-->
                    <!-- Model name -->

                </div>
            </div>

            <div class="one-third columns">
                <div class="jx-protfolio jx-image-wrapper">
                    <div class="image">
                        <img src="~/images/project9.jpg" alt="Exterior Toronto Stucco">
                        <div class="jx-image-overlay"></div>
                        <span class="jx-scale-portfolio">
                            <a href="~/images/project9.jpg" data-gal="prettyPhoto[images-gallery]"><i class="fa fa-arrows-alt"></i></a>
                        </span>
                    </div>
                    <!--Image -->
                    <!--<div class="model-name">Roof Repair</div>-->
                    <!-- Model name -->

                </div>
            </div>

            <div class="row"></div>

            <div class="one-third columns">
                <div class="jx-protfolio jx-image-wrapper">
                    <div class="image">
                        <img src="~/images/project10.jpg" alt="Toronto Exterior Stucco">
                        <div class="jx-image-overlay"></div>
                        <span class="jx-scale-portfolio">
                            <a href="~/images/project10.jpg" data-gal="prettyPhoto[images-gallery]"><i class="fa fa-arrows-alt"></i></a>
                        </span>
                    </div>
                    <!--Image -->
                    <!--<div class="model-name">Roof Repair</div>-->
                    <!-- Model name -->

                </div>
            </div>

            <div class="one-third columns">
                <div class="jx-protfolio jx-image-wrapper">
                    <div class="image">
                        <img src="~/images/project11.jpg" alt="Exterior Stucco Brampton">
                        <div class="jx-image-overlay"></div>
                        <span class="jx-scale-portfolio">
                            <a href="~/images/project11.jpg" data-gal="prettyPhoto[images-gallery]"><i class="fa fa-arrows-alt"></i></a>
                        </span>
                    </div>
                    <!--Image -->
                    <!--<div class="model-name">Roof Repair</div>-->
                    <!-- Model name -->

                </div>
            </div>

            <div class="one-third columns">
                <div class="jx-protfolio jx-image-wrapper">
                    <div class="image">
                        <img src="~/images/project12.jpg" alt="Exterior Stucco Oshawa">
                        <div class="jx-image-overlay"></div>
                        <span class="jx-scale-portfolio">
                            <a href="~/images/project12.jpg" data-gal="prettyPhoto[images-gallery]"><i class="fa fa-arrows-alt"></i></a>
                        </span>
                    </div>
                    <!--Image -->
                    <!--<div class="model-name">Roof Repair</div>-->
                    <!-- Model name -->

                </div>
            </div>


            <div class="row"></div>

            <div class="one-third columns">
                <div class="jx-protfolio jx-image-wrapper">
                    <div class="image">
                        <img src="~/images/project13.jpg" alt="Insulating Concrete Forms">
                        <div class="jx-image-overlay"></div>
                        <span class="jx-scale-portfolio">
                            <a href="~/images/project13.jpg" data-gal="prettyPhoto[images-gallery]"><i class="fa fa-arrows-alt"></i></a>
                        </span>
                    </div>
                    <!--Image -->
                    <!--<div class="model-name">Roof Repair</div>-->
                    <!-- Model name -->

                </div>
            </div>

            <div class="one-third columns">
                <div class="jx-protfolio jx-image-wrapper">
                    <div class="image">
                        <img src="~/images/project14.jpg" alt="Best Stucco Contractors Toronto">
                        <div class="jx-image-overlay"></div>
                        <span class="jx-scale-portfolio">
                            <a href="~/images/project14.jpg" data-gal="prettyPhoto[images-gallery]"><i class="fa fa-arrows-alt"></i></a>
                        </span>
                    </div>
                    <!--Image -->
                    <!--<div class="model-name">Roof Repair</div>-->
                    <!-- Model name -->

                </div>
            </div>

            <div class="one-third columns">
                <div class="jx-protfolio jx-image-wrapper">
                    <div class="image">
                        <img src="~/images/project15.jpg" alt="Stucco">
                        <div class="jx-image-overlay"></div>
                        <span class="jx-scale-portfolio">
                            <a href="~/images/project15.jpg" data-gal="prettyPhoto[images-gallery]"><i class="fa fa-arrows-alt"></i></a>
                        </span>
                    </div>
                    <!--Image -->
                    <!--<div class="model-name">Roof Repair</div>-->
                    <!-- Model name -->

                </div>
            </div>

            <div class="row"></div>

            <div class="one-third columns">
                <div class="jx-protfolio jx-image-wrapper">
                    <div class="image">
                        <img src="~/images/project16.jpg" alt="Toronto Stucco Contractor">
                        <div class="jx-image-overlay"></div>
                        <span class="jx-scale-portfolio">
                            <a href="~/images/project16.jpg" data-gal="prettyPhoto[images-gallery]"><i class="fa fa-arrows-alt"></i></a>
                        </span>
                    </div>
                    <!--Image -->
                    <!--<div class="model-name">Roof Repair</div>-->
                    <!-- Model name -->

                </div>
            </div>

            <div class="one-third columns">
                <div class="jx-protfolio jx-image-wrapper">
                    <div class="image">
                        <img src="~/images/project17.jpg" alt="Toronto Stucco Services">
                        <div class="jx-image-overlay"></div>
                        <span class="jx-scale-portfolio">
                            <a href="~/images/project17.jpg" data-gal="prettyPhoto[images-gallery]"><i class="fa fa-arrows-alt"></i></a>
                        </span>
                    </div>
                    <!--Image -->
                    <!--<div class="model-name">Roof Repair</div>-->
                    <!-- Model name -->

                </div>
            </div>

            <div class="one-third columns">
                <div class="jx-protfolio jx-image-wrapper">
                    <div class="image">
                        <img src="~/images/project18.jpg" alt="Toronto Stucco and Molding">
                        <div class="jx-image-overlay"></div>
                        <span class="jx-scale-portfolio">
                            <a href="~/images/project18.jpg" data-gal="prettyPhoto[images-gallery]"><i class="fa fa-arrows-alt"></i></a>
                        </span>
                    </div>
                    <!--Image -->
                    <!--<div class="model-name">Roof Repair</div>-->
                    <!-- Model name -->

                </div>
            </div>


            <div class="row"></div>

            <div class="one-third columns">
                <div class="jx-protfolio jx-image-wrapper">
                    <div class="image">
                        <img src="~/images/project19.jpg" alt="Stucco and Molding">
                        <div class="jx-image-overlay"></div>
                        <span class="jx-scale-portfolio">
                            <a href="~/images/project19.jpg" data-gal="prettyPhoto[images-gallery]"><i class="fa fa-arrows-alt"></i></a>
                        </span>
                    </div>
                    <!--Image -->
                    <!--<div class="model-name">Roof Repair</div>-->
                    <!-- Model name -->

                </div>
            </div>

            <div class="one-third columns">
                <div class="jx-protfolio jx-image-wrapper">
                    <div class="image">
                        <img src="~/images/project20.jpg" alt="Molding Toronto">
                        <div class="jx-image-overlay"></div>
                        <span class="jx-scale-portfolio">
                            <a href="~/images/project20.jpg" data-gal="prettyPhoto[images-gallery]"><i class="fa fa-arrows-alt"></i></a>
                        </span>
                    </div>
                    <!--Image -->
                    <!--<div class="model-name">Roof Repair</div>-->
                    <!-- Model name -->

                </div>
            </div>

            <div class="one-third columns">
                <div class="jx-protfolio jx-image-wrapper">
                    <div class="image">
                        <img src="~/images/project21.jpg" alt="Stucco Services Available">
                        <div class="jx-image-overlay"></div>
                        <span class="jx-scale-portfolio">
                            <a href="~/images/project21.jpg" data-gal="prettyPhoto[images-gallery]"><i class="fa fa-arrows-alt"></i></a>
                        </span>
                    </div>
                    <!--Image -->
                    <!--<div class="model-name">Roof Repair</div>-->
                    <!-- Model name -->

                </div>
            </div>


            <div class="row"></div>

            <div class="one-third columns">
                <div class="jx-protfolio jx-image-wrapper">
                    <div class="image">
                        <img src="~/images/project22.jpg" alt="Toronto Stucco Molding">
                        <div class="jx-image-overlay"></div>
                        <span class="jx-scale-portfolio">
                            <a href="~/images/project22.jpg" data-gal="prettyPhoto[images-gallery]"><i class="fa fa-arrows-alt"></i></a>
                        </span>
                    </div>
                    <!--Image -->
                    <!--<div class="model-name">Roof Repair</div>-->
                    <!-- Model name -->

                </div>
            </div>

            <div class="one-third columns">
                <div class="jx-protfolio jx-image-wrapper">
                    <div class="image">
                        <img src="~/images/project23.jpg" alt="Stucco Contractors Mississauga">
                        <div class="jx-image-overlay"></div>
                        <span class="jx-scale-portfolio">
                            <a href="~/images/project23.jpg" data-gal="prettyPhoto[images-gallery]"><i class="fa fa-arrows-alt"></i></a>
                        </span>
                    </div>
                    <!--Image -->
                    <!--<div class="model-name">Roof Repair</div>-->
                    <!-- Model name -->

                </div>
            </div>

           


            <!-- <div class="row"></div>
                <div class="jx-btn-center service-btn">
                <a href="#" class="jx-btn-default service-button">Load More</a>
             </div>-->

        </div>
    </div>






</div>
<!-- EOF Main Content -->
