@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-title-banner" class="jx-container work">
    <div class="jx-container-slope jx-top-slope jx-right-slope"></div>
    <div class="container jx-titlebar text-center">
        <div class="sixteen columns">
            <h1 class="text-center">
                Services
                <span class="title-bottom-bar"></span>

            </h1>
        </div>
    </div>

    <!-- container slope -->
</div>
<div class="jx-container jx-page-titlebar">
    <div class="jx-container-slope jx-top-slope jx-right-slope"></div>
    <div class="container jx-titlebar">
        <div class="sixteen columns">
            <div class="jx-breadcrumb center">
                <a href="/RoyalCrown/index">Home</a><span> / Services</span>
            </div>
        </div>
    </div>

    <!-- container slope -->
</div>

<!-- EDF Header -->
<!-- BOF Main Content -->
<div role="main" class="main no-top-padding">



    <!-- BOF Serviceslist -->
    <!-- EOF Serviceslist -->

    <div class="jx-container jx-padding-big jx-black-bg">

        <div class="parallax-no jx-tint-black-light"></div>
        <!-- Parallax Background Image -->

        <div class="container">


            <div class="sixteen columns">

            </div>

            <div id="our-services">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="ser-hover panel">
                            <div class="front">
                                <div class="box1">
                                    <img class="img-responsive service-image" src="~/images/service_1.jpg" alt="Best Stucco Contractors Toronto">
                                    <h3>
                                        Custom Homes
                                    </h3>
                                </div>
                            </div>
                            <div class="back">
                                <div class="box2">
                                    <h3>
                                        Custom Homes
                                        <span class="doted-seperator"></span>
                                    </h3>
                                    <p>
                                        A custom home is a one-of-a-kind home that is designed for a specific client and for a particular location. The custom home builder may use plans created by an architect or by a professional home designer.

                                    </p>
                                    <a href="#" class="readmore-btn" title="">
                                        <i class="fa fa-external-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="ser-hover panel">
                            <div class="front">
                                <div class="box1">
                                    <img class="img-responsive service-image" src="~/images/service_2.jpg" alt="Toronto Stucco Services">
                                    <h3>
                                        Commercial
                                    </h3>
                                </div>
                            </div>
                            <div class="back">
                                <div class="box2">
                                    <h3>
                                        Commercial
                                        <span class="doted-seperator"></span>
                                    </h3>
                                    <p>
                                        There has been a revolution of sorts in the commercial and industrial construction industry in recent years: External Insulated Finish Systems (EIFS). Chief among these are superior energy efficiency and virtually unlimited design flexibility.
                                    </p>
                                    <a href="#" class="readmore-btn" title="">
                                        <i class="fa fa-external-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="ser-hover panel">
                            <div class="front">
                                <div class="box1">
                                    <img class="img-responsive service-image" src="~/images/service_3.jpg" alt="Exterior Stucco Bolton">
                                    <h3>
                                        Industrial
                                    </h3>
                                </div>
                            </div>
                            <div class="back">
                                <div class="box2">
                                    <h3>
                                        Industrial
                                        <span class="doted-seperator"></span>
                                    </h3>
                                    <p>
                                        There has been a revolution of sorts in the commercial and industrial construction industry in recent years: External Insulated Finish Systems (EIFS). Chief among these are superior energy efficiency and virtually unlimited design flexibility.
                                    </p>
                                    <a href="#" class="readmore-btn" title="">
                                        <i class="fa fa-external-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-3 col-sm-6">
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="ser-hover panel">
                            <div class="front">
                                <div class="box1">
                                    <img class="img-responsive service-image" src="~/images/service_4.jpg" alt="Exterior Stucco Mississauga">
                                    <h3>
                                        Certificate
                                    </h3>
                                </div>
                            </div>
                            <div class="back">
                                <div class="box2">
                                    <img class="img-responsive service-image" src="~/images/service_4.jpg" alt="Stucco Designs Exterior">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- EDF Tagline -->


</div>
<!-- EOF Main Content -->
